@page "/create_book"
@using LibraryRestAPI.DTOs
@inject HttpClient Http
@inject NavigationManager _nav

<h1>Create new book</h1>

<EditForm Model="@newBook" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Title:"
                                  @bind-Value="newBook.Title"/>
                    <MudTextField Label="Author:"
                                  @bind-Value="newBook.Author"/>
                    <MudTextField Label="Genre:" 
                                  @bind-Value="newBook.Genre"/>
                    <MudTextField Label="Publisher" 
                                  @bind-Value="newBook.Publisher"/>
                    <MudDatePicker Label="Release year" 
                                  @bind-Date="newBook.ReleaseYear"/>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Send</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>


@code {
    private BookCreateDto newBook = new BookCreateDto();

    protected override async Task OnInitializedAsync()
    {
        
    }

    async void OnValidSubmit()
    {
       await Http.PostAsJsonAsync("https://localhost:7060/api/books/", newBook);
    }
}